extends includes/layout

block content 

    h1 #{gym.name}
    #format
    p=gym.description
    if `${user._id}`=== `${gym.creator._id}`
        a(href=`/gym/${gym._id}/update`) 수정
        #deleteBtn 삭제
        
    script(src="/static/js/useConfirm.js") 
    script(src="/static/js/formatCode.js") 
        
    
