extends includes/layout

block content
    .container
        a(href="/post/upload") 업로드
        form(action="/post" method="get")
            input(name="searchTerm")
            select(name="category")
                - let i = 0;
                - const arr = ["자유","질문","공유","리뷰","Flex"]
                while i < arr.length
                    option(value=arr[i])=arr[i]
                    - i++
            button 검색
        each post in posts
            .post
                .post__item 
                    div=post.category
                .post__item
                    a(href=`/post/${post._id}`)
                        h1=post.title
                .post__item 
                    div=post.creator.nickname
                .post__item 
                    .postCreatedAt=post.createdAt
    
    div(id=totalPage class="jsPageContainer gymContainer__end")
    
    script(src="/static/js/pagination.js") 
    
    script(src="/static/js/convertDate.js") 
            