extends includes/layout

block content 
    form(action=`/post/${post._id}/update` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="text" name="title" placeholder="한 줄로 표현해보세요" value=post.title)
        textarea(name="description" placeholder="세부내용")=post.description
        input(type="text" name="category" placeholder="카테고리" value=post.category)
        input(type="submit" value="업데이트")

    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js")
    script(src="/static/js/useRichText.js")